{% extends "_base.html" %}

{% block content %}
	<style>
		.jumbotron {
			background-color: inherit;
			padding-top: 0%;
			padding-bottom: 0%;
			text-align: center;
		}
		form {
			text-align: left;
			display: inherit;
		}

	</style>
	<div class='jumbotron'>
		<h1 style="font-family: 'Pacifico';">Post-its</h1>
		<p>A simple note-taking webapp</p>
	</div>

	<div class='container'>
		<form method='POST'>
			Title:<br>
			<input type='text' name='title' \><br>
			Post:<br>
			<textarea name='content'></textarea>
			<input type='submit' name='submit'\>
		</form>
	</div>

	{% for post in posts %}
	<ul>
		<li>
			<h2>{{ post.title }}</h2>
			<p>{{ post.content }}</p>
		</li>
	</ul>
	{% endfor %}
{% endblock %}